* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif !important;
	box-sizing: border-box;
}

body,
html {
	scroll-behavior: smooth;
}

.navbar {
	height: 100vh;
	width: 100%;
	background-image: url(../img/background2.png);
	background-size: cover;
	background-position: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span {
	color: #f9004d;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover {
	color: #f9004d;
	transition: .4s;
}

.btn {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}

.btn:hover {
	transform: scale(1.2);
}

.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}

.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}

.about {
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.about img {
	height: auto;
	width: 430px;
	border-radius: 25px
}

.about-text {
	width: 550px;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
	border-left: #f9004d 6px solid;
	padding-left: 10px;
}

.about-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p {
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

button:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service {
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-position: center;
	background-size: contain;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
	background-size: contain
	

}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}

.card .button:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.contact-me {
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .button-two {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.contact-me .button-two:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

footer {
	position: relative;
	width: 100%;
	height: 600px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('../img/wave.svg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	padding-bottom: 20%;
}

footer p:nth-child(1) {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2) {
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social {
	display: flex;
}

.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.3);
	transition: .3s;
}

.end {
	position: absolute;
	color: #fff;
	bottom: 35px;
	font-size: 14px;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
	background-color: transparent;
	min-height: 500px;
	padding: 2% 5%;
	color: #fff;
	font-size: 19px;
}

.column h1 {
	font-family: 'Josefin Sans', sans-serif !important;
	color: #fff !important;
	border-left: #f9004d 6px solid;
	padding-left: 10px;
}
.row{
	background-image: url('../img/blob1.svg');
	background-size: cover;
	background-color: #191919;
	background-attachment: fixed;

}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.progress-bar {
	background-color: whiteSmoke;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

	width: 250px;
	height: 20px;

	position: relative;
	display: block;
}

.progress-bar>span {
	background-color: blue;
	border-radius: 2px;

	display: block;
	text-indent: -9999px;
}

.progressbg {
	background-color: #f9004d;
	font-family: 'Josefin Sans', sans-serif !important;
	color: #fff;
}

.column:nth-child(even) {
	padding-top: 11%;
}

.arrow {
	background-color: #f9004d;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	top: 96%;
	left: 48%;
	box-shadow: rgba(249, 0, 79, 0.458) 0px 3px 8px;


}

.arrow img {
	width: 30px;
}

.arrow img:hover {
	transform: translateY(10px);
	transition-duration: 0.6s;
	cursor: pointer;
}
.vert-move {
    animation: sushant 1s infinite  alternate;
}

@keyframes sushant {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.person{
	position: absolute;
	top:2%;
	left: 150%;
}

.form{
	padding: 2%;
}
.input-field{
	padding: 4px 0px;
}

.form input, .form textarea{
	width: 75%;
	padding: 4px 10px;
	border: none;
	background-color: #101010;
	border-bottom: 1px #f9004d solid;
	color: #fff;
	resize: none;
}

input:focus, textarea:focus{
	outline: none;
}
.submit{
	width: 75%;
	text-align: right;
}
.submitBtn{
	padding: 4px 8px;
	border-radius: 8px;

}

.row:nth-child(even){
	background-image: url('../img/blob-scatter-haikei.svg');
	background-attachment: scroll;
	background-position: bottom right;
}

#conatct{
	background-color: #1d2021 !important;
}

.service{
	padding: 5% 10%;
	text-align: center;
	background-color: #101010;
	background-image: url('https://enally.in/live/RPAlloys/assets/images/footer-arrow.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 32%;
}
.contactteaxt{
	width: 80%;
}
.column:nth-child(odd){
	text-align: center;
}
.column:nth-child(odd) img{
	padding-top: 2%;
	width: 40%;
	border-radius: 12px;
}

.column:nth-child(odd) img:hover{
	transform: scale(1.2);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition-duration: 0.6s;
}